<script>
  $(document).ready(function(){
    $('.modify_btn').click(function(){
      console.log($(this).attr('id'));
      var type = $(this).attr('id').split("_")[1];
      var target_id = $(this).attr('id').split("_")[2];
      $('#'+type+'_'+target_id+'_content').empty().append('<form id = '+type+target_id+'></form>')
      $('#'+type+target_id).attr("action","/orion/modify_"+type+"/"+target_id) .attr("method","post").attr("id", type+target_id) //set the form attributes
        //add in all the needed input elements
        .prepend('<input type="text" name="content">')
        .append('<input type="submit" value="수정완료">');
    })
  });
</script>
<div class="container">
  <h1>Orion#index</h1>
  <p>Find me in app/views/orion/index.html.erb</p>
  <hr>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-5">

    <!--글작성-->
      <form role="form" action="/write" method="POST">
        <textarea class="form-control" rows="4" name="content"></textarea>
        <button style="float:right;" type="submit" class="btn btn-default">게시</button><br><br>
      </form>

    <!--뉴스피드-->
        <% @posts.each do |post| %>
        <div class="row"><hr>
          <div class="col-xs-10">
            <div><%= post.created_at %></div><br>
            <div id="post_<%=post.id%>_content"><%= post.content %></div>
          </div>
          <div class="col-xs-2">
            <a href="/delete/<%= post.id %>">[삭제]</a>
            <button class="modify_btn" id="modify_post_<%=post.id%>_bnt">수정</button>
          </div>
        </div>


      <!--댓글피드-->
        <% post.comments.each do |comment| %>
          <hr>
          <div calss="row">
            <div class="col-xs-7">
              <div id="comment_<%=comment.id%>_content"><%= comment.content %></div>
            </div>
            <div class="col-xs-3">
               <%= comment.created_at %>
            </div>
            <div class="col-xs-2">
              <a href="/comment_delete/<%= comment.id %>">[삭제]</a>
              <button class="modify_btn" id="modify_comment_<%=comment.id%>_bnt">수정</button>
            </div>

          </div>
        <% end %>

        <!--댓글입력-->
        <form action='/<%= post.id %>/comment_create' method='POST'>
          <div class="row">
            <br>
            <div class="col-xs-10">
              <input type="text" name="content" class="form-control">
            </div>
            <div class="col-xs-2">
              <button style="float:right;" type="submit" class="btn btn-default">댓글입력</button>
            </div>
          </div>
        </form>


        <% end %>

        <hr>

      </div>

    </div>
    <div class="col-md-5"></div>
  </div>
</div>
